@font-face {
    font-family: 'helveticaregular';
    src: url('fonts/helvetica-webfont.woff2') format('woff2'),
        url('fonts/helvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    --background: #373737;
    --text-color: #fafafa;
    --name-color: #8c8c8c;
    --gitlab-orange: #fd7e14; /*taken from gitlab color scheme*/
    --gold-color: #ffd700;
    margin: 0;
    scroll-behavior: smooth;
}

#flexbox{
    overflow-x: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'helveticaregular', monospace;
    background-color: var(--background);
    color: var(--text-color);
    min-height: calc(80vh - 2rem);
    padding-bottom: 2rem;
    padding-top: 20vh;
}

#title{
    font-size: 8rem;
    margin: 0.5rem 0;
    color: var(--gitlab-orange);
    text-align: center;
    animation: fadeInFromBelow 1.0s forwards;
}

.gradient-text{
    background-image: linear-gradient(180deg, var(--gitlab-orange), red);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
}

#subtitle{
    font-size: 2rem;
    margin: 1rem 0;
    animation: fadeInFromLeft 1.0s forwards;
}

#input{
    margin: 2rem 0;
    padding: 0.5rem 0rem;
    min-width: 18rem;
    border-radius: 10px;
    text-align: center;
    transform: scale(1.8);
    border-color: var(--gitlab-orange);
    background-color: var(--background);
    color: var(--gitlab-orange);
    transition: 500ms;
}

#submit {
    margin: 0.5rem 0 0 0;
    align-items: center;
    appearance: none;
    background-color: var(--gitlab-orange);
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
      var(--gitlab-orange) 0 -3px 0 inset;
    box-sizing: border-box;
    color: var(--background);
    cursor: pointer;
    display: inline-flex;
    height: 4rem;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 2rem;
}

button#submit:focus {
    box-shadow: var(--gitlab-orange) 0 0 0 1.5px inset,
     rgba(45, 35, 66, 0.4) 0 2px 4px,
     rgba(45, 35, 66, 0.3) 0 7px 13px -3px, 
     var(--gitlab-orange) 0 -3px 0 inset;
}

#submit:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    var(--gitlab-orange) 0 -3px 0 inset;
    transform: translateY(-4px);
}

#submit:active {
    box-shadow: var(--gitlab-orange) 0 3px 7px inset;
    transform: translateY(4px);
}

#loader{
    display:flex;
    height: 30vh;
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-image: url("./img/spinner-icon-12086.png");
    position: absolute;
    bottom: 50vh;
    animation: rotation 2.0s infinite;
}

#stats-div{
    padding-top: 2rem;
    width: 90vw;
    min-height: calc(100vh + 2rem);
    display:flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;
}

.stats{
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 15px 0;
    font-family: 'helveticaregular', monospace;
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 20px;
}

.prefix{
    font-size: 1.5rem;
    grid-area: 1 / 1 / 1 / 3;
}

.stat{
    font-size: 1.8rem;
    text-align: center;
    grid-area: 2 / 1 / 2 / 4;
}

.sufix{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: end;
    font-size: 1.5rem;
    grid-area: 3 / 2 / 4 / 4;
}

.languages{
    white-space: pre-line;
    font-size: 1.8rem;
    text-align: left;
    grid-area: 2 / 1 / 2 / 4;
}

.avatar{
    transition: transform .4s;
}

.avatar:hover{
    box-shadow: 0px 0px 60px 10px var(--gold-color);
    transform: scale(1.2);
}

footer{
    position: absolute;
    bottom: 5px;
    color: var(--name-color);
}

a{
    color: var(--name-color);
    text-decoration: none;
}

a.left{    
    position: relative;
}

a.left:before {  
    content: "";
    position: absolute;  
    width: 0;  
    height: 1px;  
    bottom: 0;  
    left: 0;  
    background-color: var(--name-color);  
    visibility: hidden;  
    transition: all 0.3s ease-in-out;
}

a.left:hover:before {  
  visibility: visible;  
  width: 100%;
}

@keyframes fadeInFromBelow{
    from {
	transform: translateY(25%);
	opacity: 0.1;
	color: var(--gitlab-orange);
    }
    to {
	transform: translateY(0);
	opacity: 1.0;
    }
}

@keyframes fadeInFromLeft{
    from{
	transform: translateX(-25%);
	opacity: 0.1;
    }
    to{
	transform: translateX(0);
	opacity: 1.0;
    }
}

@keyframes rotation{
    from {
	transform: rotate(0deg);
    }
    to {
	transform: rotate(359deg);
    }
}

@keyframes fadeIntoLeft{
    from{
	transform: translateX(0);
	opacity: 0.1;
    }
    to{
	transform: translateX(-25%);
	opacity: 1.0;
    }
}

@keyframes fadeIntoRight{
    from{
	transform: translateX(0);
	opacity: 0.1;
    }
    to{
	transform: translateX(25%);
	opacity: 1.0;
    }
}

@keyframes fadeInFromAbove{
    from {
	transform: translateY(-25%);
	opacity: 0.1;
	color: var(--gitlab-orange);
    }
    to {
	transform: translateY(0);
	opacity: 1.0;
    }
}

